<div class="container ">
    <div class="row " style="margin-top: 10rem;">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="jumbotron" style="background-color: #fff;">
                <h1>About us</h1>
                <p class="lead">
                    We envision a world where privacy and confidentiality are provable qualities by construction. Not by a notion of trust or by regulation alone. Confidently unlock insights and collaborate with sensitive data without compromising privacy.
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <figure>
                <img class="img-fluid" src="../../assets/img/share.png">
            </figure>
        </div>
    </div>
    <h1>Our Key Members</h1>

    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="card">
                <img src="../../assets/img/3.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">MS Dhoni</h5>
                    <p class="card-text">
                        Mahendra Singh Dhoni, is a former Indian international cricketer who captained the Indian national team in limited-overs formats from 2007 to 2017 and in Test cricket from 2008 to 2014 </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="card">
                <img src="../../assets/img/1.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Virat Kohli</h5>
                    <p class="card-text">
                        Virat Kohli is an Indian cricketer and the current captain of the India national team. A right-handed top-order batsman, Kohli is regarded as one of the best contemporary batsmen in the world </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="card">
                <img src="../../assets/img/2.jpeg" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title">Rohit Sharma</h5>
                    <p class="card-text">
                        Rohit Gurunath Sharma is an Indian international cricketer and captains Mumbai Indians in the Indian Premier League as a right-handed batsman . He is the vice-captain of the Indian national team in limited-overs formats </p>
                </div>
            </div>
        </div>
    </div>


</div>
