<div class="container ">
    <div class="row " style="margin-top: 10rem;">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="jumbotron" style="background-color: #fff;">
                <h1>Check out .</h1>
                <p class="lead">
                    Best Indian players .
                </p>
                <a class="btn btn-lg btn-primary" href="" routerLink="/auth/login" role="button">Login</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12">
            <figure>
                <img class="img-fluid" src="../../assets/img/share.png">
            </figure>
        </div>
    </div>
    <p class="lead">
        Check out the winning teams of ipl in each year
    </p>
    <div class="row mt-5">

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/21.jpeg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/22.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/23.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/24.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/25.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/26.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/27.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/28.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/29.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/30.jpeg">
                    </div>


                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/31.jpeg">
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-body ">
                    <div class="thumbnails">
                        <img src="../../../assets/img/32.jpeg">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
