<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 d-none d-sm-block getintouch">
                <a href="">
                    <p></p>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 d-none d-sm-block getintouch">
                <p class="text-xs-center">&copy; Copyright 2021. All rights reserved.</p>

            </div>
            <div class="offset-md-2 col-md-2 d-sm-none d-md-block">
                <div class="social">
                    <a href="" target="_blank" style="padding: 6px 9px!important;"><i class="fa fa-facebook-f"></i></a>
                    <a href="" target="_blank"><i class="fa fa-twitter"aria-hidden="true"></i></a>
                    <a href="" target="_blank"><i class="fa fa-linkedin"aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
    </div>
</footer>
